* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #000000;
  height: 100%;
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  touch-action: none;
  image-rendering: pixelated;
}

button, select, a, a:visited {
  padding: 8px 12px;

  border: 0px;
  border-radius: 5px;
  margin-right: 5px;

  color: #FFFFFF;
  background-color: #000000;

  font-family: monospace;
  font-size: 11px;

  cursor: pointer;
  text-decoration: none;

  text-transform: uppercase;
}

button:hover, a:hover, img:hover, select:hover {
  background-color: #333;
}

button.clicked {
  background-color: #555;
}

img {
  padding: 4px;
  border: 0px;
  border-radius: 5px;
  margin-right: 5px;

  background-color: #000000;
  vertical-align: middle;

  cursor: pointer;
}

option {
  color: #ffffff;
  background-color: #000000;
}

#toolbar {
  transition: opacity 1s;
}

#preact_toolbar {
  position: absolute;
  top: 0;
  padding: 25px;
  padding-top: max(25px, env(safe-area-inset-top)); /* handle hole-punch camera & notch */
  width: 100%;
}

#right_side {
  float: right;
}
